html, body {
    margin: 0;
    width: 100%;
}

body {
    overflow-y: auto;

    background-image: url(../images/default_background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    font-family: arial;
    font-size: 16px;

    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
}

.grid-container {
    padding: 100px;

    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
}

.bookmark-container {
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    cursor: pointer;
}

.bookmark-card {
    height: 125px;
    width: 200px;
    margin: 8px;
    border-radius: 10px;
    background-color: whitesmoke;
    transition: transform 0.1s;
    border: 2px solid rgba(0, 0, 0, 0);
}

.bookmark-card:hover {
    transform: scale(1.05);
}

.bookmark-card:active {
    border: 2px solid #0390fc;
}

.bookmark-title {
    font-size: 14px;
    background-color: white;
    opacity: 0.8;
    border-radius: 8px;
    padding: 4px;
    text-align: center;
    max-width: 200px;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.bookmark-title.selected {
    background-color: #0390fc;
}